.makeIceCream-section {
  background-color: var(--primary-text-color);
  background-image: url(../images/makeIceCream.png);
}

.makeIceCream-section__continer {
  padding: 219px 104px 173px 104px;
}

.makeIceCream-section__tittle {
  text-align: center;
  font-family: Roboto;
  font-size: 112px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--benefits-background-color);
}
