:root {
  --primary-text-color: #cc2a41;
  --secondary-text-color: #000;
  --background-color: #fec77e;
  --accent-color: #bd571b;
  --benefits-background-color: #ece9e9;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
