<section class="benefits-section">
  <ul class="benefits-section__list">
    <li class="benefits-section__item">
      <div class="benefits-section__text-wrapper">
        <h3 class="benefits-section__subTittle">
          We only use the highest quality ingredients
        </h3>
        <p class="benefits-section__description">
          The Slab is based on a simple, nostalgic idea: paying tribute to the
          original American ice cream parlor – built on quality ice cream,
          delicious toppings and a fun and inviting experience.
        </p>
      </div>
      <div class="benefits-section__image-wrapper">
        <img
          srcset="./images/benefits1.jpg 1x, ./images/benefits1@2x.jpg 2x"
          src="./images/benefits1.jpg"
          alt="Benefits"
          loading="lazy"
          width="509"
          height="509"
          class="benefits-section-image"
        />
      </div>
    </li>
    <li class="benefits-section__item">
      <div class="benefits-section__text-wrapper">
        <h3 class="benefits-section__subTittle">
          Copy Supporting our local farmers
        </h3>
        <p class="benefits-section__description">
          Ice cream with the look and taste of an old favorite. Every bite melts
          in your mouth to leave a creamy, rich aftertaste. All of this is a
          direct result of our support for local farms with the best
          ingredients. Supplied fresh every morning, for every batch.
        </p>
      </div>
      <div class="benefits-section__image-wrapper">
        <img
          srcset="./images/benefits2.jpg 1x, ./images/benefits2@2x.jpg 2x"
          src="./images/benefits2.jpg"
          alt="Benefits"
          loading="lazy"
          width="509"
          height="509"
          class="benefits-section-image"
        />
      </div>
    </li>
    <li class="benefits-section__item">
      <div class="benefits-section__text-wrapper">
        <h3 class="benefits-section__subTittle">
          Special flavors added every week
        </h3>
        <p class="benefits-section__description">
          Participate in our Weekly Magic Flavor competition on Instagram and
          have your creative flavor added to the menu — for an ENTIRE month! If
          your flavor is selected, you receive 10 free cones on us!
        </p>
      </div>
      <div class="benefits-section__image-wrapper">
        <img
          srcset="./images/benefits3.jpg 1x, ./images/benefits3@2x.jpg 2x"
          src="./images/benefits3.jpg"
          alt="Benefits"
          loading="lazy"
          width="509"
          height="509"
          class="benefits-section-image"
        />
      </div>
    </li>
  </ul>
</section>
