<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__tittle" id="contacts">Come See Us</h2>
    <ul class="footer__address-list">
      <li class="footer__address-item">
        <a class="footer__address-icon-link"
          ><svg class="footer__address-icon" width="160" height="180">
            <use href="./images/symbol-defs.svg#icon-location"></use></svg
        ></a>
        <p class="footer__address-locationCity">NEW YORK</p>
        <a class="footer__address-telephone" href="tel:6463943920"
          >646-394-3920</a>
        <a class="footer__address-location" href="">4096 Grove Street </br>Farmingdale, NY 11735</a>
      </li>
      <li class="footer__address-item">
        <a class="footer__address-icon-link"
          ><svg class="footer__address-icon" width="160" height="180">
            <use href="./images/symbol-defs.svg#icon-location"></use></svg
        ></a>
        <p class="footer__address-locationCity">CHICAGO</p>
        <a class="footer__address-telephone" href="tel:7738983028"
          >773-898-3028</a>
        <a class="footer__address-location" href="">1243 Virginia Street </br>Chicago, IL 60629</a>
      </li>
    </ul>
    <p class="footer__rights">© 2022 by The Magic Slab.</p>
  </div>
</footer>
