<section class="gallery-section">
  <h2 class="gallery-section__tittle">@THEMAGICSLAB</h2>
  <p class="gallery-section__description">Put the magic in your feed and follow us on Instagram for updates into our </br>creamy world!</p>
  <ul class="gallery-section__list">
    <li class="gallery-section__item">
        <img
          srcset="./images/gallery1.jpg 1x, ./images/gallery1@2x.jpg 2x"
          src="./images/gallery1.jpg"
          alt="gallery"
          loading="lazy"
          width="395"
          height="395"
          class="gallery-section__image"
        />
    </li>
    <li class="gallery-section__item"><img
          srcset="./images/gallery2.jpg 1x, ./images/gallery2@2x.jpg 2x"
          src="./images/gallery2.jpg"
          alt="gallery"
          loading="lazy"
          width="395"
          height="395"
          class="gallery-section__image"
        />
    </li>
    <li class="gallery-section__item"><img
          srcset="./images/gallery3.jpg 1x, ./images/gallery3@2x.jpg 2x"
          src="./images/gallery3.jpg"
          alt="gallery"
          loading="lazy"
          width="395"
          height="395"
          class="gallery-section__image"
        /></li>
  </ul>
</section>
