<section class="hero-section">
  <h1 class="hero-section__tittle">Freshly </br> Churned </br>Every Day.</h1>
  <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
        <img
          srcset="./images/hero1.png 1x, ./images/hero1@2x.png 2x"
          src="./images/hero1.png"
          alt="ice-cream"
          loading="lazy"
          width="307"
          height="307"
          class="hero-section__image"
        /></div>
    <div class="swiper-slide"><img
          srcset="./images/hero2.png 1x, ./images/hero2@2x.png 2x"
          src="./images/hero2.png"
          alt="ice-cream"
          loading="lazy"
          width="307"
          height="307"
          class="hero-section__image"
        />
    </div>
    <div class="swiper-slide"><img
          srcset="./images/hero3.png 1x, ./images/hero3@2x.png 2x"
          src="./images/hero3.png"
          alt="ice-cream"
          loading="lazy"
          width="307"
          height="307"
          class="hero-section__image"
        /></div>
        <div class="swiper-slide">
            <img
          srcset="./images/hero4.png 1x, ./images/hero4@2x.png 2x"
          src="./images/hero4.png"
          alt="ice-cream"
          loading="lazy"
          width="307"
          height="307"
          class="hero-section__image"
        /></div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="hero__navigation">
      <div class="prev"><div class="nav-button1-wrapper"><img class='swiper__navigation-prevIcon' width="80" height="96" src="./images/navleft.png"></div></div>
  <div class="next"><div class="nav-button2-wrapper"><img class='swiper__navigation-prevIcon' width="80" height="96" src="./images/navright.png"></div></div>

</div>
</div>

<p class="hero-section__company-list-tittle">FEATURED IN</p>
  <ul class="hero-section__company-list">
    <li class="hero-section__company-item">
      <svg class="hero-section__company-icon" width="80" height="80"><use href="./images/symbol-defs.svg#icon-food"></use></svg>
    </li>
     <li class="hero-section__company-item">
      <svg class="hero-section__company-icon" width="160" height="80"><use href="./images/symbol-defs.svg#icon-cosmopolitan"></use></svg>
    </li>
     <li class="hero-section__company-item">
      <svg class="hero-section__company-icon"  width="160" height="80"><use href="./images/symbol-defs.svg#icon-people"></use></svg>
    </li>
     <li class="hero-section__company-item">
      <svg class="hero-section__company-icon"  width="160" height="80"><use href="./images/symbol-defs.svg#icon-buzzfeed"></use></svg>
    </li>
    <li class="hero-section__company-item">
      <svg class="hero-section__company-icon" width="80" height="80"><use href="./images/symbol-defs.svg#icon-food"></use></svg>
    </li>
     <li class="hero-section__company-item">
      <svg class="hero-section__company-icon" width="160" height="80"><use href="./images/symbol-defs.svg#icon-cosmopolitan"></use></svg>
    </li>
  </ul>
</section>
