<section class="quote-section">
  <div class="quote-section__container">
    <div class="quote-section__image-wrapper"><img
          srcset="./images/quoting.png 1x, ./images/quoting@2x.png 2x"
          src="./images/quoting.png"
          alt="Benefits"
          loading="lazy"
          width="560"
          height="560"
          class="quote-section__image"
        />
        <a class="quote-section__button">request a</br> quote</a>
    </div>
    <div class="quote-section__text-wrapper">
    <h2 class="quote-section__tittle">Cater Your Next Event With<span class="quote-section__tittle-name">tms</span></h2>
    <p class="quote-section__description">
      Too many parties have an un-magical, sad lack of ice cream. The Magic
      Slab, where ice cream is handmade with love and attention, is changing
      that. Come treat your guests or team with the best ice cream you've ever
      tasted.
    </p>
</div>
  </div>
</section>
